#wrapCheckout * {
    outline: none;
    box-sizing: border-box;
}

#wrapCheckout {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
}

#wrapCheckout .logo {
    display: block;
    width: 200px;
    height: 148px;
    margin: 0 auto;
    background: url(../images/logo_login.jpg);
}

#checkoutLoginWrap {
    float: left;
    padding: 30px 0 0 0;
    border-bottom: 5px #000000 solid;
}

#checkoutLoginWrap #checkoutLogin .logbox {
    width: 50%;
    float: left;
    padding: 60px;
}

#checkoutLoginWrap #checkoutLogin .left {
    border-top: 1px #e5e5e5 solid;
    border-left: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
}

#checkoutLoginWrap #checkoutLogin .right {
    height: 463px;
    border-top: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
}

#checkoutLoginWrap #checkoutLogin .logbox h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0;
}

.logbox #loginForm {
    padding-top: 5px;
}

.logbox #loginForm .row {
    padding: 6px 0 10px 0;
}

.logbox #loginForm form .lab {
    display: block;
    font-size: 10px;
    color: #7f7f7f;
    text-transform: uppercase;
    padding: 0 0 6px 0;

}

.logbox #loginForm form .text {
    background-color: #e5e5e5;
    border: 1px #e5e5e5 solid;
    width: 100%;
    padding: 15px 12px 15px 15px;
}

.logbox #loginForm .row.btns .submit {
    width: 100%;
    background: #000;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logbox #loginForm .row.btns .submit:hover {
    color: #be9e56;
}

.logbox .btns {
    text-align: center;
    text-transform: uppercase;
}

.logbox .btns a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    line-height: 18px;
    padding: 15px 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logbox .btns a:hover {
    color: #be9e56;
}

.logbox .info {
    padding-bottom: 30px;
    font-size: 14px;
    color: #7f7f7f;
    text-align: center;
    line-height: 20px;
}

.logbox .btns .black {
    background-color: #000;
    color: #fff;
    margin-bottom: 15px;
}

.logbox #loginFb {
    border-top: 1px #e5e5e5 solid;
    padding: 20px 0 0 0;
    margin: 10px 0 0 0;
}

.logbox #loginFb a {
    width: 100%;
    background: #5972a7;
    color: #fff;
}

.logbox #loginFb a:hover {
    background: #506797;
}
